body {
    background-color: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    color: #777; 
    width: 960px;
    font: size 18px; 
    padding: 100px
}
  
.wrapper {
  width:900px;
  margin:0 auto o auto;
  padding:20px;
}

